{% extends 'chatbot/common.html' %}
{% block content %}
<!-- slider_area_start -->
<div class="slider_area">
    <div class="single_slider  d-flex align-items-center slider_bg_1">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-7 col-md-6">
                    <div class="slider_text ">
                       여기다 우리 설명 하자~!
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider_area_end -->

{% endblock %}